<div class="col-sm-3 col-md-3">
    <div class="footer-item">
        <div class="footer-title">
            Get in touch
        </div>
        <div class="footer-sosmed">
            {% for item in social %}
                <a href="{{ item.link }}" title="{{ item.title }}" target="_blank">
                    <div class="item">
                        <i class="fa fa-{{ item.title }}"></i>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>